@import 'reset.css';

* {
  box-sizing: border-box;
  list-style-type: none;
}

body {
  height: 100vh;
  background-color: #ced3df;
  text-align: center;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: rgba(237, 193, 211);
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  height: 100vh;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
  align-items: center;
}

.item__divider {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 12px 0px;
}

.item__delete {
  font-size: 24px;
  transition: all 300ms ease-in;
}

.footer__input {
  width: 100%;
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
}

.footer {
  background: rgba(237, 193, 211);
  background: linear-gradient(
    166deg,
    rgba(237, 193, 211, 1) 0%,
    rgba(219, 192, 216, 1) 35%,
    rgba(127, 188, 242, 1) 100%
  );
  border-radius: 0 0 20px 20px;
}
